<div class="step-header">
  <div class="col-lg-10">
  <div class="row register-top-header">
    <div class="col-lg-2 center-block">
      <div class="row">
        <div class="center-block">
          <span class="fa-stack" *ngIf="type!= 'Account'">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa fa-street-view fa-stack-1x"></i>
          </span>
          <span class="fa-stack" *ngIf="type == 'Account'">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa fa-street-view fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="center-block">
          <h5>Account</h5>
        </div>
      </div>

    </div>
    <div class="col-sm-1">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </div>
    <div class="col-lg-2 center-block">
      <div class="row">
        <div class="center-block">
          <span class="fa-stack" *ngIf="type!= 'Address'">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa fa-map-marker fa-stack-1x"></i>
          </span>
          <span class="fa-stack" *ngIf="type == 'Address'">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa fa-map-marker fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="center-block">
          <h5>Address</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </div>
    <div class="col-lg-2 center-block">
      <div class="row">
        <div class="center-block">
          <span class="fa-stack" *ngIf="type!= 'Providers'">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa fa-building-o fa-stack-1x"></i>
          </span>
          <span class="fa-stack" *ngIf="type == 'Providers'">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa fa-building-o fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="center-block">
          <h5>Providers</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </div>
    <div class="col-lg-2 center-block">
      <div class="row">
        <div class="center-block">
          <span class="fa-stack" *ngIf="type!= 'Confirm'">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa fa-check fa-stack-1x"></i>
          </span>
          <span class="fa-stack" *ngIf="type == 'Confirm'">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa fa-check fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="center-block">
          <h5>Confirm</h5>
        </div>
      </div>
    </div>
  </div>
</div>
</div>