<div class="registerForm regiterMainContainer">

    <app-steps-header type="Confirm"></app-steps-header>

  <div class="Message">
    <div class="address-heading">
      <i class="fa fa-check" aria-hidden="true"></i>
      <h5>Step 4: User Confirmation</h5>
    </div>
  </div>
  <div class="row confirm-text-blurb">
    <div class="col-lg-10">
      <h6>Thank you for your submission</h6>
      <p>Lastly we will be sending you an email requesting you to e-sign us an authority whic allows us to change your address
        from your Old address to the New address you have Specified.</p>

      <p>You will be connected to all conmunications going to your service providers and you will be able to jump in and help
        us in facilitating this change process.</p>

      <p>
        <u>Please check your email within 24 hours and accept our e-sign request so take we can take this workflow further.</u>
      </p>
      <p>Thank you for helping us validate our business model.</p>
    </div>
  </div>
</div>