<div class="registerForm regiterMainContainer">
  <div class="payee-container">

    <app-steps-header type="Providers"></app-steps-header>


    <div class="Message">
      <div class="address-heading">
        <i class="fa fa-building-o" aria-hidden="true"></i>
        <h5>Step 3: Payee/ Companies Setup</h5>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <label for="">Please search or select all companies you need moved to the new address</label>
        <div class="well">
          <div>
            <p>
              NOTE: Please make sure you enter the phone # they have on file for you. This is how we will ask them to identify you.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="payee-search">
      <div class="row">
        <div class="col-md-10">
          <div class="input-group add-on">
            <input class="form-control" [(ngModel)]="searchVal" [formControl]="searchInput" placeholder="Search" name="srch-term" id="srch-term"
              type="text">
            <div class="input-group-btn">
              <button class="btn btn-sm btn-sm btn-primary" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="register-payee-button" *ngIf="hasAccountNumbers">
      <div class="row">
        <div class="col-lg-5">
          <button type="button" class="btn btn-sm btn-primary" (click)="continueToConfirmation()">
            <span *ngIf="IsNew">Next</span>
            <span *ngIf="!IsNew">Save</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <div class="add-payee">
          <button type="button" class="btn btn-sm btn-sm btn-success" (click)="addNewPayee(content)">Add a new Institution</button>
          <span data-balloon-visible data-balloon="Cant find the institution? .. Just add it" data-balloon-pos="right"></span>

        </div>
      </div>
    </div>

    <div class="row" *ngIf="createPayee">
      <div class="col-md-10">
        <app-new-payee UserID="{{UserID}}" (PayeeCreated)="payeeCreated($event)" (CancelNewPayee)="cancelNewPayee($event)"></app-new-payee>
      </div>
    </div>

    <div class="payee-cards">
      <div >
        <div *ngFor="let item of lstPayees">
          <div class="card">
            <div class="card-block">
              <app-payee-item ID="{{item.ID}}" UserID="{{UserID}}" Name="{{item.Name}}" AccountNumber="{{item.AccountNumber}}" (UserPayeeSaved)="userPayeeUpdated()"></app-payee-item>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="register-payee-button" *ngIf="hasAccountNumbers">
      <div class="row">
        <div class="col-lg-5">
          <button type="button" class="btn btn-sm btn-sm btn-primary" (click)="continueToConfirmation()">

            <span *ngIf="IsNew">Next</span>
            <span *ngIf="!IsNew">Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>