<div class="dash-card">

  <div class="card">
    <h6 class="card-header">Service Providers</h6>
    <div class="card-block view-section">

      <div class="payee-cards">

        
          <div class="payee-header">
            <div class="row">
              <div class="col-lg-5">Name</div>
              <div class="col-lg-3">Phone #</div>
            </div>
          </div>
        

        <div *ngFor="let item of lstPayees">
          <div class="card">
            <div class="list-group list-group-flush">
              <div class="row payee-block">
                <div class="col-lg-5">
                  {{item.Name}}
                </div>
                <div class="col-lg-3">
                  {{item.AccountNumber}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



     

      <a href="#" class="btn btn-primary">Edit</a>
    </div>


  </div>