<div class="dash-card">

  <div class="card">
    <h6 class="card-header">Address</h6>
    <div class="card-block view-section">


      <div class="row address-section">
        <div class="col-lg-6">
          <div>
            <h6>Old Address</h6>
            <table id="oldAddress">
              <tr>
                <td>Street:</td>
                <td>{{oldAddress.Street}} </td>
              </tr>
              <tr>
                <td>City:</td>
                <td>{{oldAddress.City}} {{oldAddress.PostalZip}}</td>
              </tr>

            </table>
          </div>
        </div>
        <div class="col-lg-6">

          <div class="new-address">
            <h6>New Address</h6>

            <table id="newAddress">
              <tr>
                <td>Street:</td>
                <td>{{newAddress.Street}} {{newAddress.City}}</td>
              </tr>
              <tr>
                <td>City:</td>
                <td>{{newAddress.City}} {{newAddress.PostalZip}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>



      <button class="btn btn-secondary" (click) = "editClicked()">Edit</button>

    </div>

  </div>