<div id="side-panel" class="text-center dark">
  <div id="close-panel">
    <i class="fa fa-close"></i>
  </div>


  <div class="side-panel-wrap">


    <div class="text-light text-left">
      <h3>Hi, I am John</h3>
      <h5>
        <i>"Moving is a tough Job, but we can make it easy"</i>
      </h5>
      <br>
      <h6>*** We will make sure we communicate to all your service providers that you have moved, so that they can start the
        process of updating thier address ***</h6>
    </div>

    <hr class="space">
    <div class="widget text-light text-left">
      <h4 class="widget-title">No one else does it, Why do we do it?</h4>
      <p>
        We are a new Startup and we really want to make sure our Business Model Works, this is why we are providing this service
        completely free!
      </p>
    </div>
    <hr class="space">
    <hr class="space">


    <p class="small">© 2017 POLO - Best HTML5 Template Ever. All Rights Reserved.</p>

  </div>
</div>



<!-- Header -->
<header id="header">


  <!--Logo-->
  <div>
    <a href="index.html" data-dark-logo="assets/images/ChangeMyAddy_Logo.png">
      <img src="assets/images/ChangeMyAddy_Logo.png" alt="Polo Logo">
    </a>
  </div>
  <!--End: Logo-->


  <!--end: Navigation-->

</header>
<!-- end: Header -->


<div id="slider" class="inspiro-slider" data-height-xs="360">
  <!-- Slide 1 -->
  <div class="slide" style="background-image:url('assets/images/slider/2.jpg');">
      <div class="container">
          <div class="slide-captions text-dark">
              <!-- Captions -->
              <h1 data-caption-animation="rotateInUpLeft">Beautiful Websites</h1>
              <h3 data-caption-animation="rotateInUpLeft" data-caption-delay="300">Are now easy to made!</h3>
              <!-- end: Captions -->
          </div>
      </div>
  </div>
  <!-- end: Slide 1 -->
  <!-- Slide 2 -->
  <div class="slide" style="background-image:url('assets/images/slider/2.jpg');">
      <div class="container">
          <div class="slide-captions text-right text-dark">
              <!-- Captions -->
              <h1 data-caption-animation="rotateInUpRight">Create with Ease</h1>
              <h3 data-caption-animation="rotateInUpRight">And be proud of your own work!</h3>
              <!-- end: Captions -->
          </div>
      </div>
  </div>
  <!-- end: Slide 2 -->
</div>


<router-outlet></router-outlet>