<div id="side-panel" class="text-center dark">
  <div id="close-panel">
    <i class="fa fa-close"></i>
  </div>


  <div class="side-panel-wrap">


    <div class="text-light text-left">
      <h3>Hi, I am John</h3>
      <h5>
        <i>"Moving is a tough Job, but we can make it easy"</i>
      </h5>
      <br>
      <h6>*** We will make sure we communicate to all your service providers that you have moved, so that they can start the
        process of updating thier address ***</h6>
    </div>

    <hr class="space">
    <div class="widget text-light text-left">
      <h4 class="widget-title">No one else does it, Why do we do it?</h4>
      <p>
        We are a new Startup and we really want to make sure our Business Model Works, this is why we are providing this service
        completely free!
      </p>
    </div>
    <hr class="space">
    <hr class="space">


    <p class="small">© 2017 POLO - Best HTML5 Template Ever. All Rights Reserved.</p>

  </div>
</div>



<!-- Header -->
<header id="header">


  <!--Logo-->
  <div>
    <a href="index.html" data-dark-logo="assets/images/ChangeMyAddy_Logo.png">
      <img src="assets/images/ChangeMyAddy_Logo.png" alt="Polo Logo">
    </a>
  </div>
  <!--End: Logo-->


  <!--end: Navigation-->

</header>
<!-- end: Header -->

<div class="slide-container">
  <div class="slide-captions text-light">

    <h2>We'll change your address</h2>
    <h2>You just do the move!</h2>
  </div>
</div>



<router-outlet></router-outlet>