<div class="dash-card">

  <div class="card">
    <h6 class="card-header">User Details</h6>
    <div class="card-block view-section">
      <div class="view-section">
      <div class="row">
        <div class="col-md-1.5">Name: </div>
        <div class="col-md-3">{{user.FirstName}} {{user.LastName}}</div>
        <div class="col-md-1.5">Email: </div>
        <div class="col-md-3">{{user.Email}}</div>
        
      </div>
      <div class="row">
          <div class="col-md-1.5">Phone: </div>
          <div class="col-md-3">{{user.Phone}}</div>
      </div>
    </div>
      <button class="btn btn-primary" (click) = "editClicked()">Edit</button>
    </div>

  </div>