<div class="dash-card">

  <div class="card">
    <h5 class="card-header">User Details</h5>
    <div class="card-block view-section">

      <table>
        <tr>
          <td>Name:</td>
          <td>{{user.FirstName}} {{user.LastName}}</td>
        </tr>

        <tr>
          <td>Email:</td>
          <td>{{user.Email}}</td>
        </tr>

        <tr>
          <td>Phone:</td>
          <td>{{user.Phone}}</td>
        </tr>
      </table>      

      <a href="#" class="btn btn-primary">Edit</a>

    </div>

  </div>